<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
	<head>
		<title><%= @configurator[:application][:name][:value] -%> : <%= @image.product.name -%></title>
		<meta name="author" content="Avatar Web Promotions Ltd" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

		<style type="text/css">
		/*<![CDATA[*/
			body {
				background: white;
				padding: 0px;
				margin: 0px;
				text-align: center;
			}
		/*]]>*/
		</style>
	</head>
	<body>
		<img src="/product_images/image/<%= @image.id %>" />
	</body>
</html>