<html>
<head>
<title>Your order password has been changed</title>
</head>
<body>
<%= render :partial => '../postman/styles' -%>

<p>Hi there <%= @user %>,</p>
<p>Your new Rocket Cart password is: <%= @password %></p>
<p>Best regards,</p>
<p><%= @team_name %></p>
</body>
</html>
