<html>
<head>
<title>Your wholesale account with <%= @website %> is now ready</title>
<%= render :partial => '../postman/styles' -%>
</head>
<body>
<p>Hi there <%= @name %>,</p>

<p>Your application for a wholesale account on <%= @website %> has been approved. Please note that your account has the new password '<code><%= @password %></code>'.</p>

<p>You may now login to <a href="<%= @url -%>wholesale">the wholesale area of the site</a>.</p>

<p>Best regards,</p>
<p><%= @team_name %></p>
</body>
</html>
